<nav class="navbar navbar-expand-lg navbar-dark sticky-top" aria-label="Offcanvas navbar large">
    <div class="container-fluid">
        <a class="nav-link" href="/home">
            <img src="/assets/logo/logo.png" alt="" srcset="">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar2"
            aria-controls="offcanvasNavbar2" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="offcanvas offcanvas-end text-bg-dark" tabindex="-1" id="offcanvasNavbar2"
            aria-labelledby="offcanvasNavbar2Label">
            <div class="offcanvas-header">
                <h5 class="offcanvas-title" id="offcanvasNavbar2Label">Offcanvas</h5>
                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas"
                    aria-label="Close"></button>
            </div>
            <div class="offcanvas-body">
                <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" routerLink="/home">Home</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" routerLink="/administrador">Administrador</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="/misturnos">Mis Turnos</a>
                    </li>
                </ul>
                <ul class="nav navbar-nav navbar-right" *ngIf="authService.userData as user; else login">
                    <li class="nav-item">
                        <a class="nav-link"></a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle active" role="button" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            {{ authService.userData.email }}
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" (click)="authService.SignOut()">Sign Out</a></li>
                        </ul>
                    </li>
                </ul>

                <ng-template #login>
                    <ul class="nav navbar-nav navbar-right">
                        <li class="nav-item">
                            <a class="nav-link" routerLink="/sign-in">Ingresá</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link btn btn-success" routerLink="/sign-up">Creá tu cuenta</a>
                        </li>
                    </ul>
                </ng-template>
            </div>
        </div>
    </div>
</nav>



<!--
                        <li class="nav-item">
                        <a class="nav-link" href="#">Link</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            Dropdown
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="#">Action</a></li>
                            <li><a class="dropdown-item" href="#">Another action</a></li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li><a class="dropdown-item" href="#">Something else here</a></li>
                        </ul>
                    </li>
-->