<div class="container mt-2">
    <div class="section-title">
        <h2>Usuarios</h2>
      </div>
    <div class="table-responsive">
        <table class="table user-list">
            <thead>
                <tr>
                    <th><span>User</span></th>
                    <th><span>Nacimiento</span></th>
                    <th class="text-center"><span>Email</span></th>
                    <th><span>Email Vericado ?</span></th>
                    <th>&nbsp;</th>
                </tr>
            </thead>
            <tbody *ngFor="let item of usuarios">
                <tr>
                    <td>
                        <img src="item.photoURL" alt="">
                        <p><span class="label label-default">{{ item.nombre }} {{ item.apellido }} </span></p>
                        <span class="user-subhead">{{ item.role }}</span>
                    </td>
                    <td>
                        {{ item.fechaNacimiento }}
                    </td>
                    <td class="text-center">
                        <span class="label label-default">{{ item.email }}</span>
                    </td>
                    <td>
                        <div *ngIf="item.emailVerified">
                            <a href="#" class="table-link">
                                <span class="fa-stack">
                                    <i class="fa fa-square fa-stack-2x"></i>
                                    <i class="fa fa-check fa-stack-1x fa-inverse"></i>
                                </span>
                            </a>
                        </div>
                        <div *ngIf="!item.emailVerified">
                            <a href="#" class="table-link danger">
                                <span class="fa-stack">
                                    <i class="fa fa-square fa-stack-2x"></i>
                                    <i class="fa fa-xmark fa-toggle-on fa-stack-1x fa-inverse"></i>
                                </span>
                            </a>
                        </div>
                        <span class="label label-default">{{ item.emailVerified }}</span>
                    </td>
                    <td style="width: 20%;">
                        <a href="#" class="table-link">
                            <span class="fa-stack">
                                <i class="fa fa-square fa-stack-2x"></i>
                                <i class="fa fa-search-plus fa-stack-1x fa-inverse"></i>
                            </span>
                        </a>
                        <a href="#" class="table-link">
                            <span class="fa-stack">
                                <i class="fa fa-square fa-stack-2x"></i>
                                <i class="fa fa-pencil fa-stack-1x fa-inverse"></i>
                            </span>
                        </a>
                        <a href="#" class="table-link danger">
                            <span class="fa-stack">
                                <i class="fa fa-square fa-stack-2x"></i>
                                <i class="fa fa-trash-o fa-stack-1x fa-inverse"></i>
                            </span>
                        </a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>