@media (max-width: 991.98px) {
  .offcanvas-collapse {
    position: fixed;
    top: 56px; /* Height of navbar */
    bottom: 0;
    left: 100%;
    width: 100%;
    padding-right: 1rem;
    padding-left: 1rem;
    overflow-y: auto;
    visibility: hidden;
    background-color: #343a40;
    transition: transform .3s ease-in-out, visibility .3s ease-in-out;
  }
  .offcanvas-collapse.open {
    visibility: visible;
    transform: translateX(-100%);
  }
}

.nav-scroller .nav {
  color: rgba(255, 255, 255, .75);
}

.nav-scroller .nav-link {
  padding-top: .75rem;
  padding-bottom: .75rem;
  font-size: .875rem;
  color: #0b5a32 !important;
}

.nav-scroller .nav-link:hover {
  color: #007bff;
}

.nav-scroller .active {
  font-weight: 500;
  color: #343a40;
}

img {
  width: 250px;
}


.nav-link {
  color: #37ac72 !important;
  font-weight:bold;
  font-size:1.3em;
  font-family: Century Gothic, sans-serif;
  text-shadow: 1px 1px 0.5px #144114;
}
.navbar-collapse {
  justify-content: center,
}

.logo {
  color: #1D3557 !important;
  font-size:1.5em;
}

.navbar {
  box-shadow: 0 4px 8px 0 rgba(32, 121, 39, 0.2), 0 6px 20px 0 rgba(16, 90, 38, 0.19);
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
  font-weight: bold;
  background-color: white;
}

a:hover {
  color: #08D9D6 !important;
  text-shadow: 1px 1px 0.5px #24cc78;
}
