/* You can add global styles to this file, and also import other style files */



/* BACKGROUDNS */
.bg-azul {
    background-color: #146C94;
}

.bg-verde {
    background-color: #24cc78;
}

.bg-sky {
    background-color: #AFD3E2;
}

.bg-gris {
    background-color: #F6F1F1;
}


/* TEXT COLORS */
.txt-azul {
    color: #146C94;
}

.txt-verde {
    color: #24cc78;
}

.txt-sky {
    color: #AFD3E2;
}

.txt-gris {
    color: #F6F1F1;
}
/* Importing Bootstrap SCSS file. */
@import 'bootstrap/scss/bootstrap';
