/* You can add global styles to this file, and also import other style files */



/* BACKGROUDNS */
.bg-cele {
    background-color: #08D9D6;
}

.bg-negro {
    background-color: #252A34;
}

.bg-rojo {
    background-color: #FF2E63;
}

.bg-gris {
    background-color: #EAEAEA;
}


/* TEXT COLORS */
.txt-cele {
    color: #08D9D6;
}

.txt-negro {
    color: #252A34;
}

.txt-rojo {
    color: #FF2E63;
}

.txt-gris {
    color: #EAEAEA;
}